<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahzx.hndctservice.controller.his.newFarmerMapper.TNewfarmerHkHisMapper">

    <insert id="insertTNewfarmerHk" parameterType="com.ahzx.hndctservice.entity.mainFarmerEntity.his.newFarmer.TNewfarmerHkHis" useGeneratedKeys="true" keyProperty="id">
        insert into t_newfarmer_hk_his
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="farmerId != null">farmer_id,</if>
            <if test="area != null">area,</if>
            <if test="farmerType != null">farmer_type,</if>
            <if test="income != null">income,</if>
            <if test="incomeDesc != null">income_desc,</if>
            <if test="payOut != null">pay_out,</if>
            <if test="payOutDesc != null">pay_out_desc,</if>
            <if test="incomeAndExpenditure != null">income_and_expenditure,</if>
            <if test="houseArea != null">house_area,</if>
            <if test="houseStruct != null">house_struct,</if>
            <if test="landArea != null">land_area,</if>
            <if test="plantType != null">plant_type,</if>
            <if test="plantIncome != null">plant_income,</if>
            <if test="vehicleValue != null">vehicle_value,</if>
            <if test="otherAssetsName != null">other_assets_name,</if>
            <if test="otherAssetsValue != null">other_assets_value,</if>
            <if test="debtAmount != null">debt_amount,</if>
            <if test="debtDesc != null">debt_desc,</if>
            <if test="honorDesc != null">honor_desc,</if>
            <if test="honorLevel != null">honor_level,</if>
            <if test="criminalRecord != null">criminal_record,</if>
            <if test="creditStatus != null">credit_status,</if>
            <if test="villagesGov != null">villages_gov,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="farmerId != null">#{farmerId},</if>
            <if test="area != null">#{area},</if>
            <if test="farmerType != null">#{farmerType},</if>
            <if test="income != null">#{income},</if>
            <if test="incomeDesc != null">#{incomeDesc},</if>
            <if test="payOut != null">#{payOut},</if>
            <if test="payOutDesc != null">#{payOutDesc},</if>
            <if test="incomeAndExpenditure != null">#{incomeAndExpenditure},</if>
            <if test="houseArea != null">#{houseArea},</if>
            <if test="houseStruct != null">#{houseStruct},</if>
            <if test="landArea != null">#{landArea},</if>
            <if test="plantType != null">#{plantType},</if>
            <if test="plantIncome != null">#{plantIncome},</if>
            <if test="vehicleValue != null">#{vehicleValue},</if>
            <if test="otherAssetsName != null">#{otherAssetsName},</if>
            <if test="otherAssetsValue != null">#{otherAssetsValue},</if>
            <if test="debtAmount != null">#{debtAmount},</if>
            <if test="debtDesc != null">#{debtDesc},</if>
            <if test="honorDesc != null">#{honorDesc},</if>
            <if test="honorLevel != null">#{honorLevel},</if>
            <if test="criminalRecord != null">#{criminalRecord},</if>
            <if test="creditStatus != null">#{creditStatus},</if>
            <if test="villagesGov != null">#{villagesGov},</if>
         </trim>
    </insert>

    <update id="updateTNewfarmerHk" parameterType="com.ahzx.hndctservice.entity.mainFarmerEntity.his.newFarmer.TNewfarmerHkHis">
        update t_newfarmer_hk_his
        <trim prefix="SET" suffixOverrides=",">
            <if test="farmerId != null">farmer_id = #{farmerId},</if>
            <if test="area != null">area = #{area},</if>
            <if test="farmerType != null">farmer_type = #{farmerType},</if>
            <if test="income != null">income = #{income},</if>
            <if test="incomeDesc != null">income_desc = #{incomeDesc},</if>
            <if test="payOut != null">pay_out = #{payOut},</if>
            <if test="payOutDesc != null">pay_out_desc = #{payOutDesc},</if>
            <if test="incomeAndExpenditure != null">income_and_expenditure = #{incomeAndExpenditure},</if>
            <if test="houseArea != null">house_area = #{houseArea},</if>
            <if test="houseStruct != null">house_struct = #{houseStruct},</if>
            <if test="landArea != null">land_area = #{landArea},</if>
            <if test="plantType != null">plant_type = #{plantType},</if>
            <if test="plantIncome != null">plant_income = #{plantIncome},</if>
            <if test="vehicleValue != null">vehicle_value = #{vehicleValue},</if>
            <if test="otherAssetsName != null">other_assets_name = #{otherAssetsName},</if>
            <if test="otherAssetsValue != null">other_assets_value = #{otherAssetsValue},</if>
            <if test="debtAmount != null">debt_amount = #{debtAmount},</if>
            <if test="debtDesc != null">debt_desc = #{debtDesc},</if>
            <if test="honorDesc != null">honor_desc = #{honorDesc},</if>
            <if test="honorLevel != null">honor_level = #{honorLevel},</if>
            <if test="criminalRecord != null">criminal_record = #{criminalRecord},</if>
            <if test="creditStatus != null">credit_status = #{creditStatus},</if>
            <if test="villagesGov != null">villages_gov = #{villagesGov},</if>
        </trim>
        where id = #{id}
    </update>

</mapper>